*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family:sans-serif;
}

.nav-container{
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:15vh;
	background-color:#FAE8E0;
}
.nav-box1{
	padding-left:50px;
	font-size:160%;
	background-color:#FAE8E0;
}
.nav-box2{
	padding-right:50px;
	background-color:#FAE8E0;
}
.nav-link{
	padding-left:40px;
	background-color:#FAE8E0;
}


.home-container{
	padding:50px;
	background: linear-gradient( rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),url("E:\projects\react\reactprojects\router\public\home.jpg");
	background-size:cover;
	color:white;
	background-repeat:no-repeat;
}
.home-container > p{
	margin-bottom:40px;
}
.home-container a{
	width:100%;
	display:inline-block;
}
.link-button{
	margin:auto;
	font-weight:700;
	cursor:pointer;
	width:50%;
	padding-block:25px;
	padding-inline:25px;
	text-align:center;
	background-color:orange;
	border-radius:25px;
}
.about-page-container{
	padding-left:25px;
	padding-right:25px;
}
.about-page-container > img{
display:block;
	height:60vh;
	min-width:100%;
	max-width:100%;
}
.about-page-content > h1,p{
	margin-top:20px;
}
.about-foot-cta{
	margin-top:20px;
	min-width:100%;
	border-radius:25px;
	background-color:#FFCC8D;
	max-height:50vh;
	min-height:30vh;
	padding:25px;
	color:#161616;
}
.about-foot-cta > h2{
	line-height:1.5em;
	margin-bottom:40px;
}
.about-foot-link{
	width:50%;
	padding:25px;
	text-align:center;
	background-color:black;
	color:white;
	border-radius:25px;
}
.about-foot-cta a{
	display:inline-block;
	width:100%;
}